<div class="container">
  <div class="form-horizontal">
    <div class=form-group>
      <div class="form-group" style="margin-bottom:50px">
        <div class="container login-shadow" style="width: 500px; border-radius: 5px;padding: 15px 20px;background-color: #fff">
          <div class="form-group" style="text-align: left;margin-top: 20px">
            <h2><strong>Friend Requests</strong></h2>
          </div>
          <hr class="dark">
          <div id="request_area">
            <%= render "request" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function acceptRequest(sender,request_id){
    $.ajax({
      url: "/connections",
      type: "POST",
      data: {"sender_id" : sender,"request_id": request_id},
      dataType: "json",
      success: function(data) {
        location.reload();
      }
    });  
  }
  function denyRequest(request_id){ 
    $.ajax({
      url: "/requests/"+request_id,
      type: "PUT",
      data: {"request_id": request_id},
      dataType: "json",
      success: function(data) {
       location.reload();
     }
   });  
  }
</script>