<%= form_for @post, html: { multipart: true } do |f| %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
    <%= f.submit "Create",class:"btn btn-login  bg-blue text-white"%>
  </p>
<% end %>