<li class="nav-item">
	<%= link_to "Home", home_path , class:"nav-link text-white"%>
</li>
<li class="nav-item">
	<%= link_to "My Profile", home_path , class:"nav-link text-white"%>
</li>
<li class="nav-item">

</li>
<li class="nav-item">
  <%= link_to "Logout", destroy_user_session_path , method: :delete, class:"nav-link text-white" %>
</li>